# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [4]:
import pandas as pd
import numpy as np

### Step 2. Create a data dictionary that looks like the DataFrame below

In [7]:
# Step 1. Import the necessary libraries
import pandas as pd
import numpy as np

# Step 2. Create a data dictionary
pokemon_dict = {
    'evolution': ['Ivysaur', 'Charmeleon', 'Wartortle', 'Metapod'],
    'hp': [45, 39, 44, 45],
    'name': ['Bulbasaur', 'Charmander', 'Squirtle', 'Caterpie'],
    'pokedex': ['yes', 'no', 'yes', 'no'],
    'type': ['grass', 'fire', 'water', 'bug']
}

### Step 3. Assign it to a variable called pokemon

In [11]:
# Step 3. Assign it to a variable called pokemon
pokemon = pd.DataFrame(pokemon_dict)
pokemon

    evolution  hp        name pokedex   type
0     Ivysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [14]:
pokemon = pokemon[['name', 'type', 'hp', 'evolution', 'pokedex']]
print("Final DataFrame (correct column order):")
pokemon

Final DataFrame (correct column order):

         name   type  hp   evolution pokedex
0   Bulbasaur  grass  45     Ivysaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44   Wartortle     yes
3    Caterpie    bug  45     Metapod      no

### Step 5. Add another column called place, and insert what you have in mind.

In [26]:

pokemon['place'] = ['Forest ', ' Town', 'Village', 'Forest']

pokemon

         name   type  hp   evolution pokedex    place
0   Bulbasaur  grass  45     Ivysaur     yes  Forest
1  Charmander   fire  39  Charmeleon      no     Town
2    Squirtle  water  44   Wartortle     yes  Village
3    Caterpie    bug  45     Metapod      no   Forest

### Step 6. Present the type of each column

In [18]:
print(pokemon.dtypes)

name         object
type         object
hp            int64
evolution    object
pokedex      object
place        object
dtype: object

In [19]:
for col in pokemon.columns:
    print(f"{col}: {pokemon[col].dtype}")

name: object
type: object
hp: int64
evolution: object
pokedex: object
place: object

In [22]:
print(pokemon.info()) # Detailed information including memory usage

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       4 non-null      object
 1   type       4 non-null      object
 2   hp         4 non-null      int64
 3   evolution  4 non-null      object
 4   pokedex    4 non-null      object
 5   place      4 non-null      object
dtypes: int64(1), object(5)
memory usage: 324.0+ bytes
None

### BONUS: Create your own question and answer it.

Which Pokemon have HP greater than 40?

In [24]:
# Filtering with boolean indexing
high_hp_pokemon = pokemon[pokemon['hp'] > 40]
high_hp_pokemon

        name   type  hp  evolution pokedex    place
0  Bulbasaur  grass  45    Ivysaur     yes  County
2   Squirtle  water  44  Wartortle     yes  Village
3   Caterpie    bug  45    Metapod      no   Forest

How many Pokemon are from each place?

In [27]:
place_counts = pokemon['place'].value_counts()
place_counts

place
Forest     1
 Town      1
Village    1
Forest     1
Name: count, dtype: int64